.SPACE50px
{
    padding: 10px;
    margin-bottom: 50px;
}
.SPACE25px
{
    padding: 10px;
    margin-bottom: 25px;
}
.SPACE75px
{
    padding: 10px;
    margin-bottom: 75px;
}
.SPACE100px
{
    padding: 10px;
    margin-bottom: 100px;
}